langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-chroma
langchain-ollama
langgraph
sentence-transformers
transformers
chromadb
pandas
numpy
requests
wikipedia
wikipedia-api
networkx
python-decouple
duckduckgo-search
neo4j
scikit-learn
